<div class="row">
  <%= render 'comments/vote_comment', comment: comment %>
  <div class="well span8">
    <p><%= comment.body %></p>
    <% if showpost %>
      on <%= link_to comment.post.title, post_path(comment.post) %>
    <% end %>
    <p>
      <span class="quiet">by</span> <%= comment.user ? comment.user.username : 'username' %> at <%= date_fix(comment.created_at) %>
    </p>
  </div>
</div>