<%= render 'shared/content_title', title: "Profile: <strong>#{@user.username}</strong>".html_safe %>

<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
    <dd><%= @user.username %></dd>
  </dl>
</div>

<h5><%= @user.username %>'s Activity</h5>
<ul class="nav nav-tabs">
  <li class="<%= params[:tab].nil? || params[:tab] == 'posts' ? 'active' : '' %>">
    <%= link_to "Posts (#{@user.posts.size})", user_path(@user, tab: 'posts') %>
  </li>
  <li class="<%= params[:tab] == 'comments' ? 'active' : '' %>">
    <%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
  </li>
</ul>

<% if params[:tab].nil? || params[:tab] == 'posts' %>
  <% @user.posts.each do |post| %>
    <%= render 'posts/vote_post', post: post %>
    <%= render 'posts/post', post: post %>
  <% end %>
<% elsif params[:tab] == 'comments' %>
  <% @user.comments.sort.reverse.each do |comment| %>
    <%= render 'comments/comment', comment: comment, showpost: true %>
  <% end %>
<% end %>